script(src=paths.js + 'vendor/jquery.js')

<!--[if (lte IE 9)]>
script(src=paths.js + 'vendor/old-ie/html5shiv.js')
script(src=paths.js + 'vendor/old-ie/selectivizr-min.js')
<![endif]-->
script.
  var MLP = MLP || {};
  MLP.paths = !{JSON.stringify({static: paths.static, img: paths.img, css: paths.css, js: paths.js})};
  
script(src=paths.js + 'vendor.min.js')
//- EventEmitter2 给全局添加emitter方法，此方法触发定义的initMap方法
script.
  window.emitter = new EventEmitter2();
  function initMap(){
    $(function(){
      emitter.emit('initMap');
    //-   window.eqfeed_callback = function(results) {
    //-   var _this = this;
    //-   for (var i = 0; i < results.features.length; i++) {
    //-     var coords = results.features[i].geometry.coordinates;
    //-     var latLng = new google.maps.LatLng(coords[1],coords[0]);
    //-     var marker = new google.maps.Marker({
    //-       position: latLng,
    //-       map: this.sel.map
    //-     });
    //-   }
    //- }
    })
    
  }
script(src=paths.js + 'app.min.js')
script(src="assets/js/vendor/markerclusterer.js")
script(src='assets/js/vendor/js.js?key=AIzaSyCJfzft53D3w2fSg3TEDIu03vPpas-d_ts&callback=initMap') 



