include ../mixins/_helper

- paths.root = './'
- modifyPath = function(path) {return path.replace(config.build, paths.root); }
- paths.img = modifyPath(paths.img)
- paths.js = modifyPath(paths.js)
- paths.css = modifyPath(paths.css)

head
  title=stripTags(app.name)
  meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
  meta(charset='utf-8')
  meta(name='description', content=appDescription)
  meta(name='keywords', content=appKeywords)
  <!--[if (gt IE 8)]><!-->
  link(rel='stylesheet', href=paths.css + 'app.css')
  <!--<![endif]-->
  <!--[if (lte IE 8)]>
  link(rel='stylesheet', href=paths.css + 'app-ie.css')
  <![endif]--> 
  link(rel='shortcut icon' href=paths.img + 'favicon.ico' type='image/ico')
